.virtualTooltipBotText
    font-weight: 400
    font-size: 18px
    line-height: 21px
    color: #FFFFFF

.virtualTooltipTopText
    font-weight: 700
    font-size: 20px
    line-height: 23px
    color: #FFFFFF
